<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>eIBS_Web</display-name>
	<context-param>
		<param-name>realm</param-name>
		<param-value>IBS</param-value>
	</context-param>
	<context-param>
		<param-name>users</param-name>
		<param-value>com.datapro.security.UserRegistryEibsImpl</param-value>
	</context-param>
	<context-param>
		<param-name>default-option-menu</param-name>
		<param-value>options-menu</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>ApplicationMessages</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>es</param-value>
	</context-param>
	<context-param>
		<param-name>cacheMenu</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>cookieSecure</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>cookieEncryption</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>List the packages to search servlets</description>
		<param-name>invoker.packages</param-name>
		<param-value>
		datapro.eibs.accounting,
		datapro.eibs.ach,
		datapro.eibs.alerts,
		datapro.eibs.amort,
		datapro.eibs.approval,
		datapro.eibs.bap,
		datapro.eibs.bastanteo,
		datapro.eibs.bolgaran,
		datapro.eibs.cashmg,
		datapro.eibs.cleaning,
		datapro.eibs.client,
		datapro.eibs.credit,
		datapro.eibs.creditproposal,
		datapro.eibs.credprop,
		datapro.eibs.forex,
		datapro.eibs.general,
		datapro.eibs.helps,
		datapro.eibs.interfaces,
		datapro.eibs.invest,
		datapro.eibs.menu,
		datapro.eibs.misc,
		datapro.eibs.mntor,
		datapro.eibs.moneytransfer,
		datapro.eibs.mq,  
		datapro.eibs.ofac,
		datapro.eibs.params,
		datapro.eibs.products,
		datapro.eibs.reports,
		datapro.eibs.salesplatform,
		datapro.eibs.safedeposit,
		datapro.eibs.security,
		datapro.eibs.tables,
		datapro.eibs.taxes,
		datapro.eibs.teller,
		datapro.eibs.timedeposits,
		datapro.eibs.tools,
		datapro.eibs.trade,
		datapro.eibs.transfer,
		datapro.eibs.treasury,
		datapro.eibs.valuepaper,
		com.datapro.eibs.internet,
		com.datapro.eibs.reporter.controller
		</param-value>
	</context-param>
	<context-param>
		<param-name>resourceHashing</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>List of Hashed Resources. Works if Request Filter is enabled</description>
		<param-name>hashed_resources</param-name>
		<param-value> 
			eIBS.js, 
			help.js,
			ln-opening.js,
			ln-paymentplan.js,
			ln-simulacion.js,
			style.css,
			id.js
		</param-value>
	</context-param>	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>datapro.eibs.plugins.LoginFilter</filter-class>
	</filter>
	<filter>
		<description>The request filter is in charge of request filtering for security reasons. 
It will delegate to the Authorization Manager for authorization purposes.</description>
		<filter-name>RequestFilter</filter-name>
		<filter-class>datapro.eibs.plugins.RequestFilter</filter-class>
		<init-param>
			<description>This parameter enables the request filtering and is required for response wrapping.</description>
			<param-name>request</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description>This parameter enables the response wrapping in order to enforce the authorization mechanism</description>
			<param-name>response</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description>List of resources that are capable of doing authorization. 
This means the response for them will not have resources mapped by the Authorization Manager.</description>
			<param-name>authorizers</param-name>
			<param-value>index.jsp, portal.jsp, ESS0040_menu_access, JSESS0040Bean, JSScan</param-value>
		</init-param>
		<init-param>
			<description>List of excluded directories on the application path. 
All resources on the path will not be processed by this filter.
			</description>
			<param-name>unfiltered_dirs</param-name>
			<param-value>reports</param-value>
		</init-param>
		<init-param>
			<description>List of unfiltered resources. Resources that ends with 
the character sequences excluding the file extension will not be processed by this filter.
			</description>
			<param-name>unfiltered_resources</param-name>
			<param-value>eibs_login, ESS0030_LogIn, JSESS0030, ESS0040, SessionChecker, JSLogOff, JSScan, JSScanDocDone</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>datapro.eibs.plugins.ServletInvokerLoadListener</listener-class>
	</listener>
	<listener>
		<listener-class>datapro.eibs.plugins.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SessionChecker</servlet-name>
		<servlet-class>datapro.eibs.security.SessionChecker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionChecker</servlet-name>
		<url-pattern>/SessionChecker</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>eIBS Resource Locator</description>
		<display-name>eIBSResource</display-name>
		<servlet-name>eIBSResource</servlet-name>
		<servlet-class>datapro.eibs.menu.JSResourceLocator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eIBSResource</servlet-name>
		<url-pattern>/eIBSResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>eIBS Authorization Redirector</description>
		<display-name>eIBSRedirector</display-name>
		<servlet-name>eIBSRedirector</servlet-name>
		<servlet-class>datapro.eibs.menu.JSESS0040Redirector</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eIBSRedirector</servlet-name>
		<url-pattern>/eIBSRedirector</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>eIBS Banner</description>
		<display-name>eIBSBanner</display-name>
		<servlet-name>eIBSBanner</servlet-name>
		<servlet-class>datapro.eibs.products.JSESS0090</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eIBSBanner</servlet-name>
		<url-pattern>/eIBSBanner</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>eIBS Menu</description>
		<display-name>eIBSMenu</display-name>
		<servlet-name>eIBSMenu</servlet-name>
		<servlet-class>datapro.eibs.menu.JSESS0040Bean</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eIBSMenu</servlet-name>
		<url-pattern>/eIBSMenu</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>pages/s/ESS0030_LogIn.jsp</welcome-file>
		<welcome-file>pages/index.jsp</welcome-file>
		<welcome-file>pages/portal.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/forbidden.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/pages/eibs_login.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/pages/eibs_login.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/pages/eibs_login.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/pages/error.jsp</location>
	</error-page>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/pages/eibs_login.jsp</form-login-page>
			<form-error-page>/pages/eibs_login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description></description>
		<role-name>roleEibsUser</role-name>
	</security-role>
	<security-role>
		<role-name>roleTellerUser</role-name>
	</security-role>
</web-app>
